[Desktop Entry]
Name=Cosmicding
Exec=cosmicding %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.vkhitrin.cosmicding
Categories=Utility;
Keywords=Bookmarks
